<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chilli</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li><a class="nav-bar-item" href="/home">Home </a></li>
        <li><a class="nav-bar-item" href="/about">About </a></li>
        <li><a class="nav-bar-item" href="/works">Works </a></li>
          </ul>
    </nav>
    <section id="family">
      <div class="family-container">
        <img src="/images/Chilli.png" alt="" style="height: 100px" />
        <h1>Chilli</h1>
        <p>
          After having the kids, Mum’s recently gone back to her job working at
          Airport Security and juggles this with raising her two little kids.
          Mum often has a wry comment about the kids' antics or a kind word for
          an overwrought child, but she’s equally at home throwing herself into
          a game and always able to see the funny side.
        </p>
      </div>

      <div class="family-container">
        <img src="/images/Bluey.png" alt="" style="height: 100px" />
        <h1>Bluey</h1>
        <p>
          Bluey is a 6 year old Blue Heeler pup who loves to play. Her parents
          and teacher give her lots of time to practice, which means she’s
          become very good at inventing games, helping everyone choose their
          roles and deciding on the rules. Her favourite games are ones that
          involve lots of other kids and grown-ups (especially her dad) and she
          mainly likes to pretend she’s a grown up doing grownup things herself.
        </p>
      </div>
      <div class="family-container">
        <img src="/images/Bingo.png" alt="" style="height: 100px" />
        <h1>Bingo</h1>
        <p>
          Bingo is Bluey's younger sister. She’s 4 years old, and a red heeler
          like her mum. Bingo also likes to play but she is a bit quieter than
          Bluey, so is more likely to be the customer than the shop owner.
          Sometimes though, when Bluey asks her to be the doctor, rather than
          the patient, she really enjoys it. When she’s not playing you can find
          her in the yard talking to tiny bugs or off lost in her own beautiful
          world.
        </p>
      </div>
      <div class="family-container">
        <img src="/images/Bandit.png" alt="" style="height: 100px" />
        <h1>Bandit</h1>
        <p>
          Dad is an archaeologist (he loves to dig up bones). As the devoted,
          yet tired father, he does his best to use whatever energy is left
          after interrupted sleep, work and household chores, to invent and play
          games with his two girls. He still tries to continue his own life
          amidst the chaos of childrearing but often struggles to juggle these
          two competing tasks!
        </p>
      </div>
    </section>
  </body>
</html>
